.one{
    background-color: black;
    color: aliceblue;
}
.three{
    background-color: black;
    color: bisque;
}
.four{
    background-color: black;
    color: white;
    display: inline;
}

